@model PokemonsGame.Models.Pokemon

<img class="pok-win" src=@Model.UrlImagenSec />
<h1 class="ganador">GANADOR</h1>
<img class="trofeo" src="https://xn--quesignificasoar-kub.net/wp-content/uploads/2015/01/sonar-con-trofeos.png" />
<img class="trofeo1" src="https://xn--quesignificasoar-kub.net/wp-content/uploads/2015/01/sonar-con-trofeos.png" />